@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    min-height: 100%;
    min-width: 100%;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
}

.main__page{
    display: grid;
    grid-template-columns: 10fr 6fr;
    justify-content: space-between;
    align-content: space-between;
}
.main__page{
    background-color: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
}
.main__page .content{
    margin: 20px 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__page .content main .main__text{
    max-width: 200px;
}
.main__page .content main h1{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main__page .content main h1 span{
    font-size: 30px;
    font-weight: 100;
    color: hsl(0, 36%, 70%);
}
.main__page .content main p{
    font-size: 8px;
    line-height: 0.7rem;
    font-weight: 100;
    color: hsl(0, 36%, 70%);
}
.main__page .content img{
    width: 100px;
    height: auto;
}
.main__page .image img{
    width: auto;
    height: 100vh;
}

.main__page .input__div{
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 0.5px solid hsl(0, 36%, 70%);
    margin-bottom: 50px;
}
.main__page .input__div input{
    height: 0px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    color: hsl(0, 36%, 70%);
    width: 60%;
    font-size: 6px;
}
.main__page .input__div button{
    height: 20px;
    border-radius: 40px;
    width: 50px;
    border: none;
    background-color: hsl(0, 36%, 70%);
}
.main__page .input__div button img{
    height: 10px;
    width: 10px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}