@import 'utilities.css';
:root{
    --primary:#49AD09;
    --dark:#313131;
    --dark-medium:#514040;
    --pure:#FFFFFF;
    --light:#F2F2F2;
    --grey2:#A1A89D;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}